@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global styles */
  --primary-blue: #3b82f6;
  --darkest-blue: #1a202c;
  --dark-blue: #2d3748;
  --lightest-blue: #f9fafb;
  --base-white: #fff;

  --opacity-40: 0.4;
  --opacity-80: 0.8;

  --border-thin: 0.5px;

  --z-max: 999;

  --backdrop-blur: 0.5rem;
  --shadow-black-subtle: 0 10px 15px -3px rgba(0, 0, 0, 0.05);

  /* Background circle styles */
  --circle-size: 31.25rem;
  --circle-size-wider: 50rem;
  --circle-size-sm: 68.75rem;
  --circle-blur: 10rem;

  --circle-pink: #fbe2e3;
  --circle-purple: #dbd7fb;

  --circle-offset-top: -6rem;
  --circle-offset-left: -35rem;
  --circle-offset-right: 11rem;

  --circle-offset-left-md: -33rem;
  --circle-offset-left-lg: -28rem;
  --circle-offset-left-xl: -15rem;
  --circle-offset-left-2xl: -5rem;

  /* Header styles */
  --header-height: 4.5rem;
  --header-top-sm: 1.5rem;
  --header-height-sm: 3.25rem;
  --header-width-sm: 40rem;
}

@layer components {
  /* Global styles START */
  .background-circle {
    @apply absolute top-circle-offset-top -z-10 h-circle rounded-full blur-circle;
  }

  .background-circle--pink {
    @apply bg-circle-pink right-circle-offset-right w-circle sm:w-circle-sm;
  }

  .background-circle--purple {
    @apply bg-circle-purple left-circle-offset-left w-circle-wider 
                md:left-circle-offset-left-md lg:left-circle-offset-left-lg 
                xl:left-circle-offset-left-xl 2xl:left-circle-offset-left-2xl
                sm:w-circle-sm;
  }

  .btn-container {
    @apply flex flex-col justify-center items-center space-y-4 sm:flex-row 
                sm:space-y-0 sm:space-x-4 w-full;
  }

  .btn-primary {
    @apply inline-block bg-darkest-blue text-base-white rounded-full px-6 
                py-3 shadow-md w-full sm:w-auto outline-none focus:scale-110 
                hover:scale-110 hover:bg-dark-blue active:scale-105 transition
                cursor-pointer;
  }

  .btn-secondary {
    @apply inline-block text-darkest-blue rounded-full px-6 py-3 bg-base-white 
                shadow-md w-full sm:w-auto outline-none focus:scale-110 hover:scale-110 
                hover:bg-lightest-blue active:scale-105 transition cursor-pointer;
  }

  /* Global styles END */

  /* Main wrapper styles START */

  .main-wrapper {
    @apply flex flex-col items-center mt-8 sm:mt-0 px-4 sm:px-0;
  }

  /* Header styles START */

  .header-container {
    @apply z-max relative;
  }

  .header-nav {
    @apply fixed top-0 left-1/2 h-header-height -translate-x-1/2 w-full rounded-none 
                border-base-white border-opacity-40 bg-base-white opacity-80 
                shadow-subtle sm:top-6 sm:h-header-height-sm sm:w-header-width-sm 
                sm:rounded-full;
  }

  .header-nav__content {
    @apply flex items-center justify-center w-full h-full px-4;
  }

  .header-nav__link {
    @apply flex h-full items-center justify-center px-2 text-sm hover:text-darkest-blue
           transition-colors duration-200 ease-in-out;
  }

  .header-nav__item {
    @apply h-3/4 flex items-center justify-center;
  }

  /* Header styles END */

  /* Intro section styles */

  .intro-section {
    @apply min-h-screen flex justify-center flex-col max-w-[50rem] mt-24 sm:mt-0;
  }

  .intro-text__heading {
    @apply text-lg sm:text-4xl font-bold mb-4;
  }

  .intro-text__description {
    @apply mb-10 mt-4 px-4 text-base font-medium !leading-[1.5] sm:text-2xl;
  }

  .image-container {
    @apply flex items-center justify-center;
  }

  .profile-image {
    @apply h-24 w-24 sm:h-48 sm:w-48 rounded-full object-cover mb-4 border-thin border-base-white shadow-xl;
  }

  /* Intro section styles END */
}
