@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global styles */
  --primary-blue: #3b82f6;
  --darkest-blue: #1a202c;
  --dark-blue: #2d3748;
  --base-gray: #4b5563;
  --dark-gray: #1a202c;
  --lightest-blue: #f9fafb;
  --base-white: #fff;

  --opacity-40: 0.4;
  --opacity-80: 0.8;

  --border-thin: 0.5px;

  --z-max: 999;

  --backdrop-blur: 0.5rem;
  --shadow-black-subtle: 0 10px 15px -3px rgba(0, 0, 0, 0.05);

  /* Background circle styles */
  --circle-size: 31.25rem;
  --circle-size-wider: 50rem;
  --circle-size-sm: 68.75rem;
  --circle-blur: 10rem;

  --circle-pink: #fbe2e3;
  --circle-purple: #dbd7fb;

  --circle-offset-top: -6rem;
  --circle-offset-left: -35rem;
  --circle-offset-right: 11rem;

  --circle-offset-left-md: -33rem;
  --circle-offset-left-lg: -28rem;
  --circle-offset-left-xl: -15rem;
  --circle-offset-left-2xl: -5rem;

  /* Header styles */
  --header-height: 4.5rem;
  --header-top-sm: 1.5rem;
  --header-height-xs: 2.1rem;
  --header-height-sm: 3.25rem;
  --header-width-xs: 2.1rem;
  --header-width-sm: 40rem;
}

@layer components {
  /* Global styles START */
  .background-circle {
    @apply absolute top-circle-offset-top -z-10 h-circle rounded-full blur-circle;
  }

  .background-circle--pink {
    @apply bg-circle-pink right-circle-offset-right w-circle sm:w-circle-sm;
  }

  .background-circle--purple {
    @apply bg-circle-purple left-circle-offset-left w-circle-wider 
                md:left-circle-offset-left-md lg:left-circle-offset-left-lg 
                xl:left-circle-offset-left-xl 2xl:left-circle-offset-left-2xl
                sm:w-circle-sm;
  }

  .btn-container {
    @apply flex flex-col justify-center items-center space-y-4 sm:flex-row 
                sm:space-y-0 sm:space-x-4 w-full;
  }

  .btn-primary {
    @apply inline-block bg-darkest-blue text-base-white rounded-full px-6 
                py-3 shadow-md w-full text-base sm:w-auto outline-none focus:scale-110 
                hover:scale-110 hover:bg-dark-blue transition cursor-pointer;
  }

  .btn-secondary {
    @apply inline-block text-base-gray rounded-full px-6 py-3 bg-base-white
                shadow-md w-full text-base sm:w-auto outline-none border border-black/10 focus:scale-110 hover:scale-110 
                hover:bg-lightest-blue hover:text-dark-gray transition-all cursor-pointer;
  }

  .btn-tertiary {
    @apply inline-block text-darkest-blue rounded-full px-6 py-3 bg-transparent
                w-full text-sm sm:w-auto outline-none underline-offset-4
                focus:scale-110 hover:scale-110 underline decoration-dashed 
                hover:decoration-solid hover:font-semibold transition-all cursor-pointer;
  }

  .btn-scroll-top {
    @apply fixed bottom-6 right-6 z-max inline-block rounded-full p-3 bg-darkest-blue
                shadow-md text-base-white outline-none border focus:scale-110 hover:scale-110 
                hover:bg-dark-blue transition-all cursor-pointer;
  }

  .section-divider {
    @apply bg-gray-200 my-20 h-1 w-16 rounded-full hidden sm:block;
  }

  /* Global styles END */

  /* Main wrapper styles START */

  .main-wrapper {
    @apply flex flex-col items-center mt-8 sm:mt-0 px-4 sm:px-0;
  }

  /* Header styles START */

  .header-container {
    @apply z-max relative;
  }

  .header-nav {
    @apply fixed top-1 right-0 h-header-height-xs w-header-height-xs rounded-none
            border border-gray-400/20 bg-white/80 backdrop-blur-md
            shadow-subtle transition-all duration-300 ease-in-out
            sm:top-6 sm:left-1/2 sm:right-auto sm:h-header-height-sm sm:w-full sm:max-w-max sm:px-8
            sm:-translate-x-1/2 sm:rounded-full sm:transition-none;
  }

  .header-nav__content {
    @apply hidden items-center justify-center w-full h-full px-4 
         transition-all duration-300 ease-in-out
         sm:flex sm:transition-none;
  }

  .header-nav--open .header-nav {
    @apply top-0 left-1/2 h-auto -translate-x-1/2 w-full rounded-none 
            border border-gray-400/20 bg-white/80 backdrop-blur-md
            shadow-subtle;
  }

  .header-nav--open .header-nav__content {
    @apply flex;
  }

  /* Burger button styles */
  .header-nav__burger {
    @apply absolute top-1 right-1 w-6 h-6 flex flex-col justify-center 
       items-center cursor-pointer bg-transparent border-0 z-10 sm:hidden;
  }

  .header-nav__burger span,
  .header-nav__burger span::before,
  .header-nav__burger span::after {
    @apply block w-4 h-0.5 bg-darkest-blue transition-all duration-300 ease-in-out;
  }

  .header-nav__burger span {
    @apply relative;
  }

  .header-nav__burger span::before,
  .header-nav__burger span::after {
    content: "";
    @apply absolute left-0;
  }

  .header-nav__burger span::before {
    @apply -top-2;
  }

  .header-nav__burger span::after {
    @apply top-2;
  }

  /* Burger animation when open */
  .header-nav__burger span.open {
    @apply bg-transparent;
  }

  .header-nav__burger span.open::before {
    @apply rotate-45 top-0;
  }

  .header-nav__burger span.open::after {
    @apply -rotate-45 top-0;
  }

  .nav-list {
    @apply flex w-full flex-col items-start justify-center gap-y-1 font-medium text-base-gray py-2 
         sm:flex-row sm:items-center sm:w-[initial] sm:flex-nowrap sm:gap-5 sm:py-0;
  }

  .header-nav__link {
    @apply flex h-full items-center justify-center px-2 text-sm hover:text-darkest-blue
         transition-all duration-200 ease-in-out sm:transition-none;
  }

  .header-nav__link--active {
    @apply text-darkest-blue font-semibold border-2 border-darkest-blue rounded-full px-3 py-1;
  }

  .header-nav__item {
    @apply h-3/4 flex items-center justify-center;
  }

  /* Header styles END */

  /* Intro section styles */

  .section {
    @apply min-h-dvh sm:min-h-screen flex justify-center items-center flex-col 
          max-w-[50rem] 2xl:max-w-[90rem];
  }

  .section--intro {
    @apply mt-4 sm:mt-8 2xl:mt-0;
  }

  .section-header {
    @apply text-3xl font-medium capitalize mb-8 text-center;
  }

  .intro-text__heading {
    @apply text-lg sm:text-3xl 2xl:text-4xl font-bold mb-4;
  }

  .intro-text__description {
    @apply mb-10 mt-4 px-4 text-base font-medium !leading-[1.5] sm:text-xl 2xl:text-2xl;
  }

  .image-container {
    @apply flex items-center justify-center;
  }

  .profile-image {
    @apply h-24 w-24 sm:h-36 sm:w-36 2xl:h-48 2xl:w-48 rounded-full object-cover 
          mb-4 border-thin border-base-white shadow-xl;
  }

  /* Intro section styles END */

  /* About section styles */

  .section--about {
    @apply mb-28 max-w-[45rem] gap-y-3 text-center leading-8 pt-20 sm:py-20;
  }

  /* About section styles END */

  /* Projects section styles */

  .section--projects {
    @apply max-w-[42rem] gap-y-3 overflow-hidden my-8 pt-20 sm:py-20;
  }

  .project-card {
    @apply relative bg-gray-100 border border-black/5 py-4 px-5 
            mb-3 sm:mb-5 last:mb-0 sm:pl-10 sm:pr-2 sm:pt-10 overflow-hidden cursor-pointer;
  }

  .project-card__content {
    @apply sm:max-w-[50%] flex flex-col;
  }

  .project-card__title {
    @apply text-xl font-semibold mb-2;
  }

  .project-card__description {
    @apply mt-2 leading-relaxed text-dark-blue sm:overflow-hidden
          sm:transition-all sm:duration-300 sm:ease-in-out;
  }

  .see-more {
    @apply mt-2 text-sm text-primary-blue underline decoration-dotted 
          underline-offset-2;
  }

  .project-card__tags {
    @apply mt-4 mb-4 flex flex-wrap gap-y-2;
  }

  .project-card__tag {
    @apply bg-black/70 text-lightest-blue uppercase
        text-[0.7rem] font-medium px-3 py-1 rounded-full mr-2 tracking-wider;
  }

  .project-card__image {
    @apply mt-2 sm:mt-[initial] sm:absolute sm:top-8 sm:-right-40  sm:w-[28.25rem] 
    rounded-t-lg shadow-2xl sm:rotate-0 sm:scale-100 transition-all duration-300 ease-in-out;
  }

  .project-card__image--hovered {
    @apply sm:-rotate-3 sm:scale-110 transition-all duration-300 ease-in-out;
  }

  /* Projects section styles END */

  /* Contact section styles */

  .section--contact {
    @apply mb-20 sm:mb-28  gap-y-6 text-center pt-20 sm:py-20 w-[min(100%,40rem)] sm:scroll-m-40;
  }

  .contact-description {
    @apply text-base font-medium !leading-[1.5] sm:text-lg 2xl:text-xl text-darkest-blue;
  }

  .contact-form {
    @apply mt-10 flex flex-col w-full sm:w-[90%] justify-center items-center;
  } 

  .contact-form__input {
    @apply w-full h-14 border border-darkest-blue rounded-md px-4 py-2 mb-4 
          focus:outline-none focus:ring-2 focus:ring-primary-blue 
          focus:border-transparent transition;
  }
  
  .contact-form__textarea {
    @apply w-full h-52 border border-darkest-blue rounded-md px-4 py-2 mb-4 
          focus:outline-none focus:ring-2 focus:ring-primary-blue 
          focus:border-transparent transition resize-none;
  }

  /* Utility classes */

  .see-more {
    @apply mt-2 text-sm text-primary-blue underline decoration-dotted 
          underline-offset-2;
  }
}
